@page "/check"
@using Sassa.Brm.Health
@inject DailyCheck check
@inject SessionService session
@inject IAlertService toast
@inject TdwBatchService batchService


<button class="btn btn-primary btn-sm active" @onclick="() => SaveReport()">Save Health check</button>
<button class="btn btn-primary btn-sm active" @onclick="() => TdwEmailTest()">Tdw Email Test</button>
<hr />
<ErrorLog/>

@* @((MarkupString)check.GenerateHealthCheckReport(session.session.Name, 10, DateTime.Now))
 *@
    @code {
        [Inject] IWebHostEnvironment? Env { get; set; }

    public async Task SaveReport()
    {
        try
        {
            await check.WriteDailyReport(session.session.Name, 10, DateTime.Now);
            toast.Success("Healthcheck saved.");
        }
        catch
        {
            toast.Error("Healthcheck already saved.");
        }
    }

    public void TdwEmailTest()
    {
        try
        {
            if (Env == null)
            {
                toast.Error("Environment not set.");
                return;
            }
            batchService.SendTdwMailTest(Path.Combine(Env.WebRootPath, "TestFile.csv"));
            toast.Success("TestMail sent please check the log for any error.");
        }
        catch
        {
            toast.Error("Error consumed in Email client...");
        }
    }

}
