@inject SessionService sessionservice
@inject StaticService staticservice

@if (!string.IsNullOrEmpty(sessionservice.session.Name))
{
    <div style="float:right; margin-top:10px;color:#1e1b1b;">
            <label  style="margin-left: 10px">@sessionservice.session.Name</label>
            <label  style="margin-left: 10px">@(sessionservice.session.Office.OfficeName + ": " + sessionservice.session.Office.RegionName + $" :{ServicePoint}")</label>
            <a href="activeusers"  style="margin-left: 10px">@("(Users " + UserCount + ")")</a>
        </div>
}
else
{
    <WidgetTitle Title="You do not have access to this server."/>
}

@code
{
    [Parameter]
    public int UserCount { get; set; }

    string ServicePoint = "";

    protected override async Task OnInitializedAsync()
    {
        sessionservice.UserOfficeChanged += new EventHandler(OnOfficeChanged);
        await Task.CompletedTask;
    }

    private void OnOfficeChanged(object? sender, EventArgs args)
    {
        ServicePoint = staticservice.GetServicePointName(sessionservice.session.Office.FspId);
        StateHasChanged();
    }
}

