@inherits LayoutComponentBase

<div class="main">
    <div class="content px-4">
        <FluentToastProvider Position="ToastPosition.TopCenter" />
        <FluentDialogProvider />
        @Body
    </div>
</div>