@inherits LayoutComponentBase
@inject SessionService sessionservice
@inject StaticService staticservice
@* @inject ActiveUser _ConnectedUser *@


<div class="grid">
    <div class="user">
        <p class="site-title" style="text-align:center">
            <img ID="Logo" src="images/sassa_logoSmall.jpg" style="height: 100px;" />
        </p>
    </div>
    <div class="header">
        <div class="float-right">
            <p class="site-title">
                Sassa System data mamagement
            </p>
            <LoginDisplay UserCount="1" />
        </div>
    </div>
    <div class="crumbs">
        <BrmNav></BrmNav>
    </div>
    <div class="main">
        <div class="content px-4">
            <ToastAlert />
            @if (@Status == "")
            {
               <AuthorizeView>
                @Body
               </AuthorizeView> 
            }
            else
            {
                <p> @Status</p>
            }
        </div>
    </div>
</div>

@code
{
    protected string Status = "Initializing session..";

    protected override async Task OnInitializedAsync()
    {
        await Task.CompletedTask;
        while(!staticservice.IsInitialized){}

        try
        {
            if (sessionservice.session.IsBrmUser())
            {
                //sessionservice.session.Office = await staticservice.GetUserLocalOffice(sessionservice.session.SamName, sessionservice.session.IsInRole("GRP_BRM_Supervisors") ? "Y" : "N");
                Status = "";
            }
            else
            {
                Status = "No Brm Roles for this user;";
            }
        }
        catch(Exception ex)
        {
            Status = ex.Message;
        }
        await Task.CompletedTask;
    }

}