@* <div class="input-group mb-2">
    <span class="input-group-text" style="width: 140px;">TDW Waybill No</span>
    <input type="text" @bind-value="@tdwWaybill" class="form-control" disabled="@(!string.IsNullOrEmpty(waybill.WaybillNo))">
</div>

<div class="input-group mb-2" style="width:50%">
    <span class="input-group-text" style="width: 140px;">Courier</span>
    <input type="text" @bind-value="@courier" class="form-control" disabled="@(!string.IsNullOrEmpty(waybill.WaybillNo))">
</div> *@

@code {

}
