@using Sassa.Brm.Common.Services

@* @inherits OwningComponentBase *@
<div class="user-settings-form">
    <WidgetTitle Title="User Settings"></WidgetTitle>
    <div class="form-group">
        <label>
            <input type="checkbox" checked="@Settings.IsSupervisor" @onchange="OnSupervisorChanged" />
            Supervisor
        </label>
    </div>
    <div class="form-group">
        <label>Report Format:</label>
        <select class="form-control" @onchange="OnReportFormatChanged" value="@Settings.ReportFormat">
            <option value="csv">CSV</option>
            <option value="xlsx">XLSX</option>
        </select>
    </div>
</div>

@code {
    [Parameter]
    public UserSettings Settings { get; set; } = new UserSettings("N;csv");

    [Parameter]
    public EventCallback<UserSettings> OnSettingsChanged { get; set; }

    private void OnSupervisorChanged(ChangeEventArgs e)
    {
        Settings.IsSupervisor = (bool)e.Value!;
        NotifyChanged();
    }

    private void OnReportFormatChanged(ChangeEventArgs e)
    {
        Settings.ReportFormat = e.Value?.ToString() ?? "csv";
        NotifyChanged();
    }

    private async void NotifyChanged()
    {
        if (OnSettingsChanged.HasDelegate)
            await OnSettingsChanged.InvokeAsync(Settings);
    }
}


