@page "/"


<PageTitle>Capture repair queue</PageTitle>
<h1>Welcome to the LO Repair Queue App</h1>
<div class="container">
    <div class="LORecord">

    </div>
    <div class="SOCPENperecord">
    </div>

    <div class="RepairQueue">
        <h4>Repair Queue</h4>
        <p>This is where you can manage the repair queue.</p>
        <!-- Add your repair queue management components here -->
    </div>
    <div class="preview">

    </div>
</div>


