@inject IChatService ChatService

<div class="container">
    <div style="height:100%;">
        <EditForm Model=@_newMessage OnValidSubmit="HandleValidSubmit">
            <div>                
                <div >
                    <InputText id="message" @bind-Value=_newMessage.Text
                        placeholder="<your message here...>" />
                </div>                
                <div class="col-2">
                    @if(!_sending){
                        <button type="submit"><i ></i></button>
                    }
                </div> 
            </div>                       
        </EditForm>
    </div>
</div>

@code{
    private ViewModels.PostMessage _newMessage = new ViewModels.PostMessage();
    private bool _sending;

    protected override void OnInitialized()
    {
        _sending = false;
    }


    private async Task HandleValidSubmit()
    {
        _sending = true;
        await ChatService.PostMessageAsync(this.LoggedUser, _newMessage.Text);
        _newMessage = new ViewModels.PostMessage();
        _sending = false;
    }

    [Parameter]
    public User LoggedUser { get; set; }
}