@page "/"
<div class="pageTitle">
<h3>Welcome to the Sassa Sytem data management portal</h3>
</div>


@code {

    // protected override async Task OnInitializedAsync()
    // {
    //     //await OnTabActivate(1);
    // }
    // private async Task OnTabActivate(int e)
    // {
    //     switch (e)
    //     {
    //         case 1:

    //             break;
    //         case 2:

    //             break;
    //         case 3:
                
    //             break;
    //         default:
    //             break;
    //     }
    // }

}
